/* Here is your custom css styles. */
@font-face {
    font-family: 'myFont';
    src: url('../font/FZZJ-MMXJJW.TTF');
}

body {
    font-family: 'myFont';
    font-size: 18px;
}

* {
    cursor: url("/medias/imgs/zhengchang.ico"), auto !important;
}

:active {
    cursor: url("/medias/imgs/dianji.ico"), auto !important;
}